@import '../../../shared/styles/vars';

.nav {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: $color-primary;
}
.logo {
  width: 35px;
  height: 35px;
  margin-right: 25px;

  &_svg {
    width: 100%;
    height: 100%;
  }
}
.divider {
  width: 1px;
  height: 100%;
  background-color: red;
}
.language {
  position: relative;
  display: flex;
  height: 44px;
  border-radius: 5px;

  button {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    outline: 0;
    color: $color-white;
    cursor: pointer;
  }

  &:hover {
    background-color: $color-secondary2;
  }
}
.locale {
  position: absolute;
  top: 25px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 6px;
  background-color: $color-white;
  border-radius: 5px;

  &_item {
    list-style: none;
    margin-bottom: 4px;
    padding: 8px 15px;
    border-radius: 5px;

    &:hover {
      background-color: $color-white2;
    }
  }

  &_link {
    display: flex;
    text-decoration: none;
    color: $color-dark;

    span {
      margin-left: 5px;
    }
  }
}
.list {
  display: flex;
}
.item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  text-transform: capitalize;
  text-decoration: none;
  height: 44px;
  border-radius: 5px;
  font-weight: $weight-600;
  color: $color-white;

  &:hover {
    background-color: $color-secondary2;
  }
}
.search {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.login {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 0 15px;
  height: 44px;
  color: $color-white;
  outline: 0;
  border: 0;
  background: $color-secondary;
  cursor: pointer;
  border-radius: 5px;

  svg {
    margin-left: 10px;
  }

  &:hover {
    background-color: $color-secondary2;
  }
}
