<div class="hero">
  <img class="hero_img" src="./assets/hero.png" alt="">
  <div class="hero_content">
    <h1 class="hero_title" i18n="Hero title|Primary slogan message of company">Getting Started with Moodle</h1>
    <p class="hero_text" i18n="Hero text|Primary short meta description of company">From its medieval origins to the digital era, learn everything there is to know about the ubiquitous lorem ipsum passage.</p>
    <button class="hero_btn" i18n="Sign up button|Redirect user to registration page">Sign up</button>
  </div>
</div>
