// colors
$color-primary: #002D47;
$color-primary2: #001C2E;
$color-secondary: #027654;
$color-secondary2: #00665F;
$color-white: #FFFFFF;
$color-white2: #EBF0F2;
$color-white3: #F5F5F7;
$color-white4: #F5F5F5;
$color-dark: #212121;
$color-blur: #00000033;
$color-divider: #0000001a;
$color-dark-light: #6B6B6B;

// layout
$container: 1320px;

// font
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;

// layers
$z-index-100: 100;

// transitions
$transition-default: all 0.2s ease-in-out;
